/* Give all images a paper-coloured background to prevent PNGs from being
displayed against black when open in a lightbox or undergoing transitions. */
img {
	background-color: oColorsGetPaletteColor('pink');
}

$o-buttons-themes__standout: map-merge($o-buttons-themes__standout, (
	pressedselected: (
		background: oColorsGetColorFor(o-buttons-standout-pressedselected, background)
	)
));

$o-buttons-themes: map-merge($o-buttons-themes, (
	standout: $o-buttons-themes__standout
));

// Hack: Ensure the menu button has an accessible name.
// Undo default styling that hides this text from all users.
// This fix is in newer versions of o-header but upgrading is non-trivial.
// https://github.com/Financial-Times/o-header/pull/344
.o-header__top-link-label {
	display: inline; // Needed to undo `display: none`
	@include oNormaliseVisuallyHidden;
}
