@mixin responsiveWidth {
	display: grid;
	grid-template-columns:
		[bleed-start]
			minmax(1rem, auto)
		[main-start]
			minmax(auto, 40em)
		[main-end]
			minmax(1rem, auto)
		[bleed-end];
}

@function pxAndVhToViewport($vh, $px) {
	@return $px * 100vh / $vh;
}

@mixin responsiveType($size, $min: 20px, $max: 50px) {
	font-size: $size;
	$min-size: ($size - 3vh) / 0.5vh + $min;
	$max-size: max($min-size, $max);

	@if $min != 0 {
		@media (max-height: pxAndVhToViewport($size, $min-size)) {
			font-size: $min-size;
		}
	}

	@if $max != 0 {
		@media (min-height: pxAndVhToViewport($size, $max-size)) {
			font-size: $max-size;
		}
	}
}
