.u-border--all {
	border: 1px solid oColorsByName('black-20');
}

.u-border--left {
	border-left: 1px solid oColorsByName('black-20');
}

.u-margin--left-right {
	margin-right: 16px;
	margin-left: 16px;
}

.u-padding--left-right {
	padding-right: 16px;
	padding-left: 16px;
}
