@import 'setup';

.ad-container {
	text-align: center;

	&::before {
		@include oTypographySans(-1);
		// ▾ U+25BE BLACK DOWN-POINTING SMALL TRIANGLE
		content: "\25BE Advertisement \25BE";
		display: block;
	}
}
