@import 'setup';
@import '_headings';

@include oEditorialLayout($opts: (
	wrapper: true
));

.article__copyright-notice.article__copyright-notice {
	@include oTypographyFooter;
	margin: 30px 0;
}

.article-image {
	margin: 1em 0;
}

.article-image--inline {
	display: inline-block;
	margin: 0;
}

.article-dateline {
	@include oEditorialTypographyTimestamp;
}

.article-author-byline__author.article-author-byline__author {
	@include oEditorialTypographyTag($type: 'author');
}

.primary-theme.primary-theme {
	@include oEditorialTypographyTag($type: 'topic');
	margin-top: 1em;
}

.article__quote {
	margin: 0 0 1em;
}

.article__quote-footer {
	@include oTypographySans($scale: -2, $weight: 'semibold');
}

.n-content-big-number,
.n-content-big-number__title,
.n-content-big-number__title > p {
	@include oBigNumberContent;
}

.n-content-big-number__content > p {
	@include oTypographyFooter;
}

.n-content-recommended__title.n-content-recommended__title {
	@include oTypographySans($scale: 1, $weight: 'semibold');
}

abbr[title] {
	border-bottom: 0;
	text-decoration: underline dotted;
}

@import 'utils';
