@import 'setup';
@import '_headings';

.article {
	@include oTypographyWrapper;
}

.article__copyright-notice.article__copyright-notice {
	@include oTypographyFooter;
	margin: 30px 0;
}

.article-image {
	margin: 1em 0;
}

.article-image--inline {
	display: inline-block;
	margin: 0;
}

.article__subhead--standard.article__subhead--standard {
	@include oTypographySansBold(-1);
}

.article-header {
	a {
		border-bottom-color: transparent;

		&:hover {
			border-bottom-color: inherit;
		}
	}
}

// HACK: override default styling of oTypographyBodyWrapper
// (rendered as '.article h1') using double classname specificity
.article-standfirst.article-standfirst {
	@include oTypographyStandfirst;
	font-weight: normal;
}

.article-dateline {
	@include oTypographyTimestamp;
}

.article-author-byline__author.article-author-byline__author {
	@include oTypographyAuthor;
}

.primary-theme.primary-theme {
	@include oTypographyTopic;
	margin-top: 1em;
}

.article__quote {
	margin: 0 0 1em;
}
.article__quote-footer {
	@include oTypographySansBold(-2);
}

.n-content-big-number,
.n-content-big-number__title,
.n-content-big-number__title > p {
	@include oTypographyBigNumber;
}

.n-content-big-number__content > p {
	@include oTypographyFooter;
}

.n-content-recommended__title.n-content-recommended__title {
	@include oTypographySansBold(1);
}

abbr[title] {
	border-bottom: 0;
	text-decoration: underline dotted;
}

@import 'utils';
