@import 'setup';

.c-box {
	position: relative;
	clear: left;
	margin: 10px 0 16px;
	padding: 16px 0;
	width: 100%;

	box-sizing: border-box;
}

.c-box--inline {
	float: left;

	@include oGridRespondTo(S) {
		margin-right: 24px;
		max-width: 300px;
	}
}

.c-box__title {
	margin: -40px 0 8px 10px;
}

.c-box__title-text {
	@include oColorsFor(page, background);
	@include oTypographySerifDisplay(m);
	display: inline-block;
	margin: 0;
	padding: 10px;
	padding-bottom: 0;
	font-weight: 900;
	color: oColorsGetPaletteColor('cold-1');
}

.c-box .aside--content p {
	line-height: 1.4em;
}

.aside--headline {
	@include oTypographySansDataBold(l);
	margin-top: 8px;
	margin-bottom: 8px;
	color: oColorsGetPaletteColor('cold-3');
	line-height: 1.3em;

	p {
		margin: 0;
	}
}

.aside--image img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
}

.aside--list {
	margin: 10px 0;
	padding-left: 20px;
}

.pull-quote__quote-marks {
	@extend %article-quote;

	position: absolute;
	top: -1px; // place just on top of border
	left: 10px;
	background-color: oColorsGetPaletteColor('pink');
	padding: 0 10px;
	line-height: 0; // take up as little space as possible
}

@import 'utils';
