@import 'setup';
@import 'login-buttons';

.access-mocked {
	position: absolute;
	background: pink;
	font-size: 12px;
	top: 160px;
	width: 30%;
	line-height: 1em;
	padding: 10px;
	min-width: 90px;
	right: 0;
	z-index: 1;

	ul {
		padding: 0;
		margin: 0 0 0 10px;
	}

	li {
		margin-bottom: 10px;
	}
}

.amp-access-login {
	@include oTypographySans(-1);
	color: oColorsGetPaletteColor('black-80');
	margin-top: 6vh;
	margin-bottom: 8vh;
	@include responsiveType(3vh, $max: 30px);
	line-height: 1.3;
}

.amp-access-login__header,
.amp-access-login__body {
	padding: 2vh;

	@include oGridRespondTo(M) {
		margin: 0 3vh;
	}
}

.amp-access-login__header {
	background-color: oColorsGetPaletteColor('white-60');
}

.amp-access-login__header-instruction,
.amp-access-login__header-title {
	@include oGridRespondTo(M) {
		display: inline;
	}
}

.amp-access-login__header-instruction {
	font-weight: bold;
}

.amp-access-login__body {
	background-color: oColorsGetPaletteColor('black-5');
	display: flex;
	justify-content: center;

	@include oGridRespondTo($until: S) {
		flex-direction: column;
	}
}
