@import 'setup';
@import 'login-buttons';

.amp-access-barrier {
	margin-top: 1em;

	a {
		@include oTypographyLink;
	}

	.amp-access-barrier__button {
		@extend .amp-access-login__button;
		margin: 0;
		width: 100%;
	}
}

$barrier-padding: 20px;

%amp-access-barrier__box {
	border-bottom: 1px solid oColorsGetPaletteColor('pink-tint1');
}

.amp-access-barrier__header {
	@extend %amp-access-barrier__box;
	margin-bottom: 20px;
}

.amp-access-barrier__header-instruction {
	@include oTypographySansBold(m);
	@include oColorsFor(box, background);
	padding: $barrier-padding;

	h3 {
		@include oTypographySans(m);
		margin: 0;
	}
}

.amp-access-barrier__login {
	@include oTypographySansBold(s);
	background: oColorsGetPaletteColor('pink-tint2');
	padding: $barrier-padding;
}

.amp-access-barrier__offer {
	@include oTypographySans(m);
	background: oColorsGetPaletteColor('white');
	overflow: hidden;
	padding: $barrier-padding;
	text-align: center;
}

.amp-access-barrier__offer-title {
	@include oTypographySansBold(l);
	// TODO: Upgrade to latest o-typography
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 0.5em;
	margin-top: 0;
	text-align: center;
}

.amp-access-barrier__offer-secondary-price {
	color: oColorsGetPaletteColor('grey-tint3');
	font-size: 14px;
	line-height: 16px;
}

.amp-access-barrier__offer-promo-separator {
	position: relative;
	text-align: center;
	margin: 0 0 8px;

	&:before, &:after {
		position: absolute;
		display: block;
		width: calc(50% - 20px);
		top: 50%;
		left: 0;
		height: 1px;
		background-color: oColorsGetPaletteColor('black');
		opacity: 0.25;
		content: '';
	}

	&:after {
		left: unset;
		right: 0;
	}
}

.amp-access-barrier__offer-highlight {
	display: inline-block;
	padding: 4px 8px;
	margin: 10px auto;
	color: oColorsGetPaletteColor('black');
	background-color: #1aebff; // no similar colour mapped in current version of o-colors
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.amp-access-barrier__offer-price {
	color: oColorsGetPaletteColor('teal-1');
	// TODO: Upgrade to latest o-typography
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

.amp-access-barrier__offer-value {
	padding: 0.5em 0;

	.o-subs-card__intro__offer {
		color: oColorsGetPaletteColor('grey-tint3');
		font-size: 14px;
		line-height: 16px;
		font-weight: 500;
		padding: 0.5em 0;
	}
}

.amp-access-barrier__offer-description {
	@include oTypographySans(s);
}

.amp-access-barrier__offer-description-items {
	list-style: none;
	margin: 0 0 1em;
	padding: 0;

	li {
		@include oTypographySans(s);
		color: oColorsGetPaletteColor('black');
		// TODO: Upgrade to latest o-typography
		line-height: 20px;
		font-size: 16px;
		position: relative;
	}
}

.amp-access-barrier__footer-tandc {
	@extend %amp-access-barrier__box;
	@include oTypographySansBold(s);
	text-align: center;
	padding: $barrier-padding;
}

.amp-access-barrier__footer-other {
	@extend %amp-access-barrier__box;
}

.amp-access-barrier__footer-other-option--corporate a {
	&:before {
		@include oIconsGetIcon('corporate', oColorsGetColorFor(link, text), 40);
	}
}

.amp-access-barrier__footer-other-option--newspaper a {
	&:before {
		@include oIconsGetIcon('newspaper', oColorsGetColorFor(link, text), 40);
	}
}

.amp-access-barrier__footer-other-option--weekend a {
	&:before {
		@include oIconsGetIcon('ipad', oColorsGetColorFor(link, text), 40);
	}
}

.amp-access-barrier__footer-options {
	display: flex;
	justify-content: space-between;
	padding-bottom: $barrier-padding;
}

.amp-access-barrier__footer-other-title {
	@include oTypographySansBold(m);
	text-align: center;
}

.amp-access-barrier__footer-other-option {
	text-align: center;
	flex-basis: 33%;

	a {
		@include oTypographySansBold(s);
		border: 0 none;
	}

	a:before {
		content: '';
		display: block;
		margin: 0 auto;
	}
}

.amp-access-barrier__swg-button {
	display: block;
	margin: 10px auto 0;

	&.swg-button-light {
		width: 100%;
	}
}

.amp-access-barrier__details{
	margin-bottom: 20px;
}

@mixin amp-access-barrier__more-less {
	@include oTypographySansBold(s);

	text-align: center;
	background-color: #f2dfce;
	color: 	oColorsGetPaletteColor('teal-1');
	border-width: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.amp-access-barrier__read-more {
	@include amp-access-barrier__more-less;
	&:after {
		@include oIconsGetIcon('arrow-down', oColorsGetPaletteColor('teal-1'), 16);
		content: '';
		vertical-align: middle;
	}
}

.amp-access-barrier__read-less {
	@include amp-access-barrier__more-less;
    &:after {
		@include oIconsGetIcon('arrow-up',oColorsGetPaletteColor('teal-1'), 16);
		content: '';
		vertical-align: middle;
	}
}

.amp-access-barrier__benefits {
	background-color: white;
	border-top: 1px solid rgba(0,0,0,.25);
	padding: 12px 16px;
	padding-top: 0;
}
