@import 'setup';
@import 'login-buttons';

.amp-access-barrier {
	grid-column: main;
	margin-top: 1em;

	a {
		@include oTypographyLink;
	}

	.amp-access-barrier__button {
		@extend .amp-access-login__button;
		margin: 0;
		width: 100%;
	}
}

$barrier-padding: 20px;

%amp-access-barrier__box {
	border-bottom: 1px solid oColorsGetPaletteColor('pink-tint1');
}

.amp-access-barrier__header {
	@extend %amp-access-barrier__box;
}

.amp-access-barrier__header-instruction {
	@include oTypographySansBold(m);
	@include oColorsFor(box, background);
	padding: $barrier-padding;

	h3 {
		@include oTypographySans(m);
		margin: 0;
	}
}

.amp-access-barrier__login {
	@include oTypographySansBold(s);
	background: oColorsGetPaletteColor('pink-tint2');
	padding: $barrier-padding;
}

.amp-access-barrier__offer {
	background: oColorsGetPaletteColor('white');
	margin-bottom: 20px;
	overflow: hidden;
	padding: $barrier-padding;
}

.amp-access-barrier__offer-title {
	@include oTypographySansBold(l);
	// TODO: Upgrade to latest o-typography
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 0.5em;
	margin-top: 0;
	text-align: center;
}

.amp-access-barrier__offer-price {
	@include oTypographySans(m);
	color: oColorsGetPaletteColor('black');
	// TODO: Upgrade to latest o-typography
	line-height: 20px;
	font-size: 16px;
	text-align: center;
}

.amp-access-barrier__offer-description {
	@include oTypographySans(s);
}

.amp-access-barrier__offer-description-title {
	@include oTypographySansBold(s);
	margin-top: 0;
	margin-bottom: 0;
}

.amp-access-barrier__offer-description-items {
	list-style: none;
	margin: 0 0 1em;
	padding: 0;

	li {
		@include oTypographySans(s);
		color: oColorsGetPaletteColor('black');
		// TODO: Upgrade to latest o-typography
		line-height: 20px;
		font-size: 16px;
		position: relative;
	}
}

.amp-access-barrier__footer-tandc {
	@extend %amp-access-barrier__box;
	@include oTypographySansBold(s);
	text-align: center;
	padding: $barrier-padding;
}

.amp-access-barrier__footer-other {
	@extend %amp-access-barrier__box;
}

.amp-access-barrier__footer-other-option--corporate a {
	&:before {
		@include oIconsGetIcon('corporate', oColorsGetColorFor(link, text), 40);
	}
}

.amp-access-barrier__footer-other-option--newspaper a {
	&:before {
		@include oIconsGetIcon('newspaper', oColorsGetColorFor(link, text), 40);
	}
}

.amp-access-barrier__footer-other-option--weekend a {
	&:before {
		@include oIconsGetIcon('ipad', oColorsGetColorFor(link, text), 40);
	}
}

.amp-access-barrier__footer-options {
	display: flex;
	justify-content: space-between;
	padding-bottom: $barrier-padding;
}

.amp-access-barrier__footer-other-title {
	@include oTypographySansBold(m);
	text-align: center;
}

.amp-access-barrier__footer-other-option {
	text-align: center;
	flex-basis: 33%;

	a {
		@include oTypographySansBold(s);
		border: 0 none;
	}

	a:before {
		content: '';
		display: block;
		margin: 0 auto;
	}
}

.amp-access-barrier__swg-button {
	display: block;
	margin: 10px auto 0;

	&.swg-button-light {
		width: 100%;
	}
}
