$o-header-is-silent: false;
@import 'o-header/main';

.o-header__top-link-label {
	@include oTypographySans(xs);
	font-size: 10px;
}

.o-header__drawer-menu-list--child {
	box-shadow: inset 0 -1px 0 oColorsGetColorFor(o-header-drawer-menu, border), inset 0 1px 0 oColorsGetColorFor(o-header-drawer-menu, border);
}

.o-header__accordion-section[expanded] .o-header__drawer-menu-toggle:before {
	transform: rotate(180deg);
}
