@import 'setup';
@import 'o-footer/main';

.live-blog--message {
	margin: 0 -1em;
	padding: 1em;
	border-bottom: 1px solid oColorsByName('black-10');
}

.live-blog--author {
	@include oEditorialTypographyTag($type: 'author')
}

.live-blog--author-colour-1 {
	color: oColorsByName('claret');
}

.live-blog--author-colour-2 {
	color: oColorsByName('oxford');
}

.live-blog--author-colour-3 {
	color: oColorsByName('jade');
}

.live-blog {
	// contain the update banner so it appears above the mobilesafari toolbar
	overflow: hidden;
}

.live-blog .live-blog--update-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 10px;
	background: rgba(oColorsByName('slate'), 0.8);
}

.live-blog--update-button {
	@include oButtonsContent($opts: (
		size: big,
		type: primary
	));
}

.live-blog--time {
	@include oEditorialTypographyTimestamp;
	margin-bottom: 0;
}

.live-blog--status {
	@include oLabelsContent($opts: (
		'base': true
	));
	vertical-align: middle;
}

.live-blog--status-inprogress {
	background-color: oColorsByName('crimson');
	color: oColorsByName('white');
}

.amp-live-list-item-new {
	animation: amp-live-list-item-highlight 5s ease-in;
}

// specifity to override .article's oTypographyBodyWrapper
.article .article-liveblogs-excerpt {
	&, p, ol, ul {
		@include oEditorialTypographyStandfirst;
	}
}

@keyframes amp-live-list-item-highlight {
	0% {
		$faded-orange: rgba(oColorsByName('mandarin'), 0.5);
		background: $faded-orange;
	}
	100% {
		background: transparent;
	}
}
