@import 'setup';
@import 'o-footer/main';

@include oColorsSetUseCase(author-colour-1, text, 'claret');
@include oColorsSetUseCase(author-colour-2, text, 'oxford');
@include oColorsSetUseCase(author-colour-3, text, 'jade');

.live-blog--message {
	margin: 0 -1em;
	padding: 1em;
	border-bottom: 1px solid oColorsGetPaletteColor('black-10');
}

.live-blog--author {
	@include oTypographyAuthor
}

@for $i from 1 through 3 {
	.live-blog--author-colour-#{$i} {
		@include oColorsFor(author-colour-#{$i}, text);
	}
}

.live-blog {
	// contain the update banner so it appears above the mobilesafari toolbar
	overflow: hidden;
}

.live-blog .live-blog--update-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 10px;
	background: rgba(oColorsGetColorFor(o-footer-dark, background), 0.8);
}

.live-blog--update-button {
	@include oButtons(big, primary);
}

.live-blog--time {
	@include oTypographyTimestamp;
	margin-bottom: 0;
}

.live-blog--status {
	@include oLabelsContent($opts: (
		'base': true
	));
	vertical-align: middle;
}

.live-blog--status-inprogress {
	background-color: oColorsGetPaletteColor('crimson');
	color: oColorsGetPaletteColor('white');
}

.amp-live-list-item-new {
	animation: amp-live-list-item-highlight 5s ease-in;
}

// specifity to override .article's oTypographyBodyWrapper
.article .article-liveblogs-excerpt {
	&, p, ol, ul {
		@include oTypographyStandfirst;
	}
}

@keyframes amp-live-list-item-highlight {
	0% {
		$faded-orange: rgba(oColorsGetPaletteColor('mandarin'), 0.5);
		background: $faded-orange;
	}
	100% {
		background: transparent;
	}
}
