@import 'setup';

.related-content,
.more-ons {
	margin-top: 40px;
}

.related-content__theme,
.more-ons__header {
	@include oTypographyLinkTopic;
	a {
		&:hover {
			border-bottom: 1px dotted;
		}
	}
}


// Related Content

.related-content__header {
	@include oTypographySerifDisplay(l);
}

.related-content__stories {
	@include oGridRow();

	// Should we use a CSS reset?
	padding: 0;
}

.related-content__story {
	@include oGridColspan((default: 12, M: 6));
	margin-bottom: oGridGutter(L);

	@include oGridRespondTo(M) {
		display: flex;
	}
}

.related-content__lead-story {
	@include oGridColspan((default: 12));

	.related-content__container {
		display: flex;
	}

	.related-content__content,
	.related-content__image {
		@include oGridRespondTo(M) {
			width: 50%;
		};
	}

	.related-content__image {
		display: none;

		@include oGridRespondTo(M) {
			display: block;
			padding: 0;
			margin: oGridGutter(L) / 2 * -1 0;
			position: relative;
			right: oGridGutter(L) / 2 * -1;
		}
	}
}

.related-content__container {
	background-color: oColorsGetColorFor(box, background);
	border: 1px solid oColorsGetPaletteColor("warm-3");
	padding: oGridGutter(S);
}

.related-content__link {
	@include oTypographyLink;
	@include oTypographySans(m);
}

.related-content__date {
	@include oTypographySans(xs);
	display: block;
	margin-top: 1em;
}

.related-content__summary {
	@include oTypographySans(s);
	line-height: 1.3em;
	margin: 0;
	display: block;
}

.related-content__theme {
	margin: 0;
}

.related-content__theme-link {
	text-decoration: none;
	color: inherit;
}

.more-ons__items {
	@include oGridRow();

	// Should we use a CSS reset?
	padding: 0;
}

.more-ons__item {
	@include oGridColspan((default: 12, M: 6));
}

.more-ons__item-wrapper {
	border: 1px solid oColorsGetPaletteColor('warm-3');
	padding: oGridGutter(L) oGridGutter(L) 0;
	margin-bottom: oGridGutter(L);
}

.more-ons__type {
	margin: -40px 0 8px 10px;
}

.more-ons__header {
	@include oTypographySansBold(l);
	color: oColorsGetPaletteColor(claret);
	margin-top: 0;
}

.more-ons__header,
.more-ons__stories {
	padding: 0;
}

.more-ons__stories {
	list-style: none;
}

.more-ons__story {
	margin-bottom: oGridGutter(L);
}

.more-ons__link {
	@include oTypographyLink;
	@include oTypographySans(m);
}

.more-ons__date {
	@include oTypographySans(xs);
	display: block;
	margin-top: 0.5em;
}

.more-ons__image {
	margin: 0 oGridGutter(L) * -1 oGridGutter(L);
}
