$o-fonts-path: '//h2.ft.com/build/files/o-fonts-assets@1.3.0/';
$o-grid-ie8-rules: 'none';

@import 'o-colors/main';
@import 'o-fonts/main';
@import 'o-typography/main';
@import 'o-grid/main';

@include oFontsInclude(MetricWeb, light); // body
@include oFontsInclude(FinancierDisplayWeb); // headings
@include oFontsInclude(FinancierDisplayWeb, $weight: light, $style: italic); // standfirst

$page-width: 30em;

$border-divider: 1px solid oColorsGetPaletteColor(pink-tint3);

@mixin responsiveWidth($width: $page-width) {
	margin: 0 auto;
    padding: 0 10px;
	max-width: $width;
}

body {
	@include oColorsFor(page, background);
	@include oTypographyBody;
}

.article {
	@include oTypographyBodyWrapper;

	@include responsiveWidth;
	.article__copyright-notice {
		@include oTypographySans(s);
	}
}

.article-standfirst {
	@include oTypographyLead;
}

.main-header {
	margin-bottom: 1em;
	background: oColorsGetPaletteColor('grey-tint5');
	padding: .5em;
}

.main-header-logo {
	@include responsiveWidth(16em);

	svg {
		display: block;
	}
}

.article-image {
	margin: 1em 0;
}

.article-header .article-image {
	border-bottom: $border-divider;
}

.article-dateline {
	@include oTypographySans(s);
}

.main-footer {
	border-top: 5px solid oColorsGetPaletteColor('grey-tint3');
	background: oColorsGetPaletteColor('grey-tint5');
	padding: .5em;
}

.main-footer__container {
	@include responsiveWidth;
	text-align: center;
}

.main-footer__links {
	margin: 0;
	padding: 0 0 1em;
	list-style: none;
}

.main-footer__link {
	@include oTypographySans(s);

	color: oColorsGetPaletteColor('pink');

	@include oGridRespondTo(S) {
		display: inline;

		&::after {
			content: ' | ';
		}

		&:last-child::after {
			content: '';
		}
	}

	a {
		color: inherit;
	}
}

// next-article component styles
.c-box {
	position: relative;
	clear: left;
	margin: 24px 0 16px;
	padding: 16px 0;
	width: 100%;

	box-sizing: border-box;
}

.c-box--inline {
	float: left;

	@include oGridRespondTo(S) {
		margin-right: 24px;
		max-width: 300px;
	}
}

.c-box__title {
	margin: -40px 0 8px 10px;
}

.c-box__title-text {
	@include oColorsFor(page, background);
	@include oTypographySerifDisplay(m);
	display: inline-block;
	margin: 0;
	padding: 10px;
	padding-bottom: 0;
	font-weight: 900;

	a {
		border-bottom: 0;
		text-decoration: none;
		color: oColorsGetPaletteColor('cold-1');
	}
}

.u-border--all {
	border: 1px solid oColorsGetPaletteColor('warm-3');
}

.u-margin--left-right {
	margin-right: 16px;
	margin-left: 16px;
}

.aside--headline {
	@include oTypographySansDataBold(xl);
	margin-top: 8px;
	margin-bottom: 8px;
	color: oColorsGetPaletteColor('cold-3');

	p {
		margin: 0;
	}
}

.aside--content p {
	margin: 5px 0 0;
}

.aside--image img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
}

.aside--list {
	margin: 10px 0;
	padding-left: 20px;
}

.related-content {
	@include responsiveWidth;
}

.related-content__items {

	// Should we use a CSS reset?
	padding: 0;
	@include oGridRow();
}

.related-content__item {
	@include oGridColspan((default: 12, M: 6));
	margin-bottom: oGridGutter(L);

	@include oGridRespondTo(M) {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

.related-content__container {
	background-color: oColorsGetColorFor(box, background);
	border: 1px solid oColorsGetPaletteColor("warm-3");
	padding: oGridGutter(S);

	@include oGridRespondTo(M) {
		width: 100%;
	}
}

.related-content__link {
	@include oTypographyLink;
	@include oTypographySans(m);
	display: block;
}

.related-content__date {
	@include oTypographySans(xs);
}

.related-content__summary {
	@include oTypographySans(s);
	margin: 0;
}

.related-content__theme {
	@include oTypographySansBold(s);
	color: oColorsGetPaletteColor(claret);
	margin: 0;
}

