$o-fonts-path: '/fonts/';

@import 'o-colors/main';
@import 'o-fonts/main';
@import 'o-typography/main';

@include oFontsInclude(MetricWeb, light); // body
@include oFontsInclude(FinancierDisplayWeb); // headings
@include oFontsInclude(FinancierDisplayWeb, $weight: light, $style: italic); // standfirst

body,
html {
	@include oColorsFor(page, background);
}

main {
	@include oTypographyBody;
	@include oTypographyBodyWrapper;
	margin: 0 auto;
	max-width: 30em;
}

.standfirst {
	@include oTypographyLead;
}
