$o-fonts-path: '//h2.ft.com/build/v2/files/o-fonts-assets@1.3.0/';
$o-grid-ie8-rules: 'none';

$page-padding: 10px;
$max-width: 500px;
$min-width: 320px;

$border-divider: 1px solid oColorsGetPaletteColor(pink-tint3);

// Enable hoverable styles everywhere, as no JS detect is possible
$o-hoverable-if-hover-enabled: '';
