@import 'setup';

.video-page {
	@include responsiveWidth;
	grid-column: bleed;
}

.video {
	grid-column: bleed;
	background: oColorsGetPaletteColor('slate');
	-webkit-font-smoothing: antialiased;
	color: white;

	display: grid;
	grid-template-columns: auto [video-start info-start] minmax(auto, 640px) [video-end info-end] auto;

	@media (min-width: 40rem) {
		grid-template-columns: auto [video-start] minmax(auto, 40rem) [video-end info-start] minmax(auto, 20rem) [info-end] auto;
	}

	amp-ima-video {
		grid-column: video;
	}
}

.video-tabs {
	grid-column: info;
	padding: 1rem;
}

.video-info {
	h1 {
		@include oTypographySans(l);
	}

	.video-tag {
		@include oTypographyLinkTopic;
		color: white;

		&:hover, &:active {
			color: #eee;
		}
	}

	.video-standfirst {
		@include oTypographySans(m);
	}

	.video-byline {
		@include oTypographySans(xs);
	}
}

.video-transcript {
	@include oTypographySans(m);
	grid-column: main;
	overflow-y: auto;
}

.video-tabs {
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.video-tab {
	@include oTypographySansBold(m);
	order: 1;
	outline: none;

	height: 1em;
	padding-bottom: .5em;
	margin-right: 1em;

	&.video-tab[selected] {
		outline: none;
		border-bottom: 3px solid white;
	}
}

.video-tab-content {
	order: 2;
	display: none;
	max-height: 16rem;
}

.video-tab[selected] + .video-tab-content {
	display: block;
}
