<div>
	Already a subscriber?
	<a href="#" on="tap:amp-access.login-login" data-vars-link-type="barrier-login" data-vars-link-text="Sign in to FT.com">Sign in here</a>
</div>

<amp-list src="/products" width="300" height="600" layout="responsive">
	<template type="amp-mustache">
		<div>
			<h2>
				<a href="\{{#href}}\{{href}}\{{/href}}\{{^href}}https://www.ft.com/signup?offerId=\{{id}}\{{/href}}">
					\{{title}}
				</a>
			</h2>

			\{{#productImage}}
			<amp-img layout="responsive" width="300" height="150"
				src="\{{productImage}}">
			</amp-img>
			\{{/productImage}}
			\{{^productImage}}
			<amp-img layout="responsive" width="300" height="150"
				src="https://next-geebee.ft.com/image/v1/images/raw/%2F%2Fnext-geebee.ft.com%2Fassets%2Fstandard_digital.png?width=800&source=next&fit=scale-down">
			</amp-img>
			\{{/productImage}}


			\{{#pricing.billedYearly.weekly.amount}}
				\{{symbol}}\{{value}} per week
			\{{/pricing.billedYearly.weekly.amount}}
			\{{^pricing.billedYearly.weekly.amount}}
				\{{#pricing.billedMonthly.trial.amount}}
					\{{symbol}}\{{value}} for 4 weeks
				\{{/pricing.billedMonthly.trial.amount}}
			\{{/pricing.billedYearly.weekly.amount}}

			\{{#description.title}}
				<h3>\{{description.title}}</h3>
			\{{/description.title}}
			<ul>
				\{{#description.items}}
				<li>\{{description}}</li>
				\{{/description.items}}
			</ul>

			<a class="amp-access-login__button" href="\{{#href}}\{{href}}\{{/href}}\{{^href}}https://www.ft.com/signup?offerId=\{{id}}\{{/href}}">Select</a>
		</div>
	</template>
</amp-list>
