<div class="amp-access-barrier__header" subscriptions-actions subscriptions-display="NOT loggedIn">
	<div class="amp-access-barrier__header-instruction">
		Subscribe to read:
		<h3>{{title}}</h3>
	</div>

	<div class="amp-access-barrier__login">
		Already a subscriber?
		<a href="#" subscriptions-action="login" subscriptions-service="local" subscriptions-display="NOT loggedIn" data-vars-link-type="barrier-login" data-vars-link-text="Sign in to FT.com">Sign in here</a>
	</div>
</div>

<div class="amp-access-barrier__header" subscriptions-actions subscriptions-display="loggedIn AND NOT granted">
	<div class="amp-access-barrier__header-instruction">
		Upgrade your account to read:
		<h3>{{title}}</h3>
	</div>
</div>

<amp-list id="barrier-offers" src="{{{barrierListEndpoint}}}" credentials="include" width="300" height="600" layout="responsive">
	<template type="amp-mustache">
		<div class="amp-access-barrier__offer">
			<h2 class="amp-access-barrier__offer-title">
				\{{{title}}}
			</h2>

			<div class="amp-access-barrier__offer-description">
				\{{#description.title}}
				<h3 class="amp-access-barrier__offer-description-title">\{{description.title}}</h3>
				\{{/description.title}}
				<ul class="amp-access-barrier__offer-description-items">
					\{{#description.items}}
					<li>\{{description}}</li>
					\{{/description.items}}
				</ul>
			</div>

			<p class="amp-access-barrier__offer-price">
				\{{#pricinghref}}
					View {{> link href='{{pricinghref}}' text='pricing &amp; plans' type='barrier-pricing'}}
				\{{/pricinghref}}
				\{{^pricinghref}}
					\{{#pricing.billedYearly.weekly.amount}}
						<span class="amp-access-barrier__offer-value">\{{value}}</span> per week
					\{{/pricing.billedYearly.weekly.amount}}
					\{{^pricing.billedYearly.weekly.amount}}
						\{{#pricing.billedMonthly.trial.amount}}
							<span class="amp-access-barrier__offer-value">\{{pricing.billedMonthly.trial.amount}}</span> for 4 weeks
						\{{/pricing.billedMonthly.trial.amount}}
					\{{/pricing.billedYearly.weekly.amount}}
					<span class="amp-access-barrier__footnote">*</span>
				\{{/pricinghref}}
			</p>

			{{> link href='{{#href}}{{href}}{{/href}}{{^href}}https://www.ft.com/signup?offerId={{id}}{{/href}}' text='{{#free}}Free team trial{{/free}}{{^free}}Select{{/free}}' type='barrier-subscribe' class='amp-access-barrier__button'}}
		</div>
	</template>
</amp-list>

<div class="amp-access-barrier__offer">
	<h2 class="amp-access-barrier__offer-title">
		Digital or Premium Digital
	</h2>

	<div class="amp-access-barrier__offer-description">
		You can also subscribe to the FT Digital or Premium Digital with Google
	</div>
	<button class="amp-access-barrier__swg-button" subscriptions-action="subscribe" subscriptions-service="subscribe.google.com" subscriptions-display="NOT granted">Subscribe with Google</button>
</div>

<div class="amp-access-barrier__footer">
	<div class="amp-access-barrier__footer-tandc">
		<span class="amp-access-barrier__footnote">*</span>
		<a href="//www.ft.com/servicestools/help/terms" data-vars-link-destination="//www.ft.com/servicestools/help/terms" data-vars-link-type="barrier-tsandcs" data-vars-link-text="Terms and Conditions">Terms and Conditions</a> apply
	</div>

	<div class="amp-access-barrier__footer-other">
		<h2 class="amp-access-barrier__footer-other-title">Other subscription options</h2>

		<div class="amp-access-barrier__footer-options">
			<div class="amp-access-barrier__footer-other-option amp-access-barrier__footer-other-option--corporate">
				<a data-vars-link-type="barrier-option-corporate" data-vars-link-destination="https://enterprise.ft.com/en-gb/services/group-subscriptions/group-contact-us/" href="https://enterprise.ft.com/en-gb/services/group-subscriptions/group-contact-us/" data-vars-link-text="Corporate">
					Corporate
				</a>
			</div>
			<div class="amp-access-barrier__footer-other-option amp-access-barrier__footer-other-option--newspaper">
				<a data-vars-link-type="barrier-option-newspaper" data-vars-link-destination="https://sub.ft.com/spa2_sub/" href="https://sub.ft.com/spa2_sub/" data-vars-link-text="Newspaper Only">
					Newspaper Only
				</a>
			</div>
			<div class="amp-access-barrier__footer-other-option amp-access-barrier__footer-other-option--weekend">
				<a data-vars-link-type="barrier-option-weekend" data-vars-link-destination="https://sub.ft.com/weekendapp/" href="https://sub.ft.com/weekendapp/" data-vars-link-text="Weekend App Edition">
					Weekend App Edition
				</a>
			</div>
		</div>
	</div>
</div>
