<amp-list src="/products" width="300" height="600" layout="responsive">
	<template type="amp-mustache">
		<div>
			<h2>\{{title}}</h2>
			\{{#pricing.billedYearly.weekly.amount}}
				\{{symbol}}\{{value}} per week
			\{{/pricing.billedYearly.weekly.amount}}
			\{{^pricing.billedYearly.weekly.amount}}
				\{{#pricing.billedMonthly.trial.amount}}
					\{{symbol}}\{{value}} for 4 weeks
				\{{/pricing.billedMonthly.trial.amount}}
			\{{/pricing.billedYearly.weekly.amount}}

			<a href="\{{#href}}\{{href}}\{{/href}}\{{^href}}https://www.ft.com/signup?offerId=\{{id}}\{{/href}}">Select</a>
		</div>
	</template>
</amp-list>
