<footer class="o-footer o-footer--theme-dark" data-o-component="o-footer" data-o-footer--no-js="">
	<div class="o-footer__container o-footer__main">

		<div class="o-footer__row">
			<nav class="o-footer__matrix" role="navigation" aria-label="Useful links">
				<div class="o-footer__matrix-group o-footer__matrix-group--1">
					<h6 class="o-footer__matrix-title">
						Legal &amp; Privacy
					</h6>
					<div class="o-footer__matrix-content" id="o-footer-section-0">
							<div class="o-footer__matrix-column">
								<a class="o-footer__matrix-link" href="//www.ft.com/servicestools/help/terms" data-vars-link-destination="//www.ft.com/servicestools/help/terms" data-vars-link-type="footer-tsandcs" data-vars-link-text="Terms &amp; Conditions">Terms &amp; Conditions</a>
								<a class="o-footer__matrix-link" href="//help.ft.com/help/legal/slavery-statement/" data-vars-link-destination="//help.ft.com/help/legal/slavery-statement/" data-vars-link-type="footer-slavery" data-vars-link-text="Slavery Statement">Slavery Statement</a>
								<a class="o-footer__matrix-link" href="//www.ft.com/servicestools/help/privacy" data-vars-link-destination="//www.ft.com/servicestools/help/privacy" data-vars-link-type="footer-privacy" data-vars-link-text="Privacy">Privacy</a>
								<a class="o-footer__matrix-link" href="//www.ft.com/cookiepolicy" data-vars-link-destination="//www.ft.com/cookiepolicy" data-vars-link-type="footer-cookies" data-vars-link-text="Cookies">Cookies</a>
								<a class="o-footer__matrix-link" href="//www.ft.com/servicestools/help/copyright" data-vars-link-destination="//www.ft.com/servicestools/help/copyright" data-vars-link-type="footer-copyright" data-vars-link-text="Copyright">Copyright</a>
							</div>
					</div>
				</div>
				{{#unless enableSidebarMenu}}
				<div class="o-footer__matrix-group o-footer__matrix-group--1">
					<h6 class="o-footer__matrix-title">
						Account
					</h6>
					<div class="o-footer__matrix-content" id="o-footer-section-1">
						<div class="o-footer__matrix-column">
							<a class="o-footer__matrix-link" href="https://myaccount.ft.com/details/core/view" data-vars-link-destination="https://myaccount.ft.com/details/core/view" data-vars-link-type="footer-account" data-vars-link-text="My Account">My Account</a>
							<a class="o-footer__matrix-link" href="#" subscriptions-action="logout" subscriptions-display="data.session" data-vars-link-type="footer-logout" data-vars-link-text="Sign Out">Sign Out</a>
						</div>
					</div>
				</div>
				{{/unless}}
			</nav>
		</div>

		<div class="o-footer__copyright" role="contentinfo">
			<small>
				<abbr title="Financial Times" aria-label="F T">FT</abbr> and &#x2018;Financial Times&#x2019; are trademarks of The Financial Times Ltd.
				</br>
				The Financial Times and its journalism are subject to a self-regulation regime under the <a href="https://www.ft.com/editorialcode" aria-label="F T Editorial Code of Practice" data-vars-link-destination="https://www.ft.com/editorialcode" data-vars-link-type="footer-editorialcode" data-vars-link-text="FT Editorial Code of Practice">FT Editorial Code of Practice</a>.
			</small>
		</div>

	</div>
	<div class="o-footer__brand">
		<div class="o-footer__container">
			<div class="o-footer__brand-logo"></div>
		</div>
	</div>
</footer>
