<header class="o-header">

	<div class="o-header__row o-header__top">
		<div class="o-header__container">
			<div class="o-header__top-wrapper">
				<div class="o-header__top-column o-header__top-column--left">
					{{#if enableSidebarMenu}}
						<a class="o-header__top-link o-header__top-link--menu" aria-controls="o-header-drawer" role="button" aria-expanded="false" on='tap:sidebar.open' data-vars-link-type="sidebar-menu-open" data-vars-link-text="Menu">
							<span class="o-header__top-link-label">Menu</span>
						</a>
					{{/if}}
				</div>
				<div class="o-header__top-column o-header__top-column--center">
					<a class="o-header__top-logo" href="https://www.ft.com" title="Go to Financial Times homepage" data-vars-link-destination="https://www.ft.com" data-vars-link-type="header-logo" data-vars-link-text="Financial Times">
						<span class="o-header__visually-hidden">Financial Times</span>
					</a>
				</div>
				<div class="o-header__top-column o-header__top-column--right" role="navigation" aria-label="Account and personalisation links">
					<a class="o-header__top-link o-header__top-link--myft" href="https://www.ft.com/myft" subscriptions-actions subscriptions-display="data.session" data-vars-link-destination="https://www.ft.com/myft" data-vars-link-type="header-myft" data-vars-link-text="myFT">
						<span class="o-header__visually-hidden">myFT</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<nav id="o-header-nav-mobile" class="o-header__row o-header__nav o-header__nav--mobile" role="navigation" aria-label="Main navigation">
		<ul class="o-header__nav-list" subscriptions-actions subscriptions-display="NOT data OR NOT data.session">
			<li class="o-header__nav-item">
				<a class="o-header__nav-link o-header__nav-link--primary" href="#" subscriptions-action="login" subscriptions-display="NOT data.session" subscriptions-service="{{#if enableGoogleAccountLinking}}subscribe.google.com{{else}}local{{/if}}" data-vars-link-type="nav-login" data-vars-link-text="Sign In">Sign In</a>
			</li>
		</ul>
		<ul class="o-header__nav-list" subscriptions-action subscriptions-display="data AND data.session">
			<li class="o-header__nav-item">
				<a class="o-header__nav-link o-header__nav-link--primary" href="https://www.ft.com" data-vars-link-destination="https://www.ft.com" data-vars-link-type="nav-ftcom" data-vars-link-text="Visit FT.com">Visit FT.com</a>
			</li>
			<li class="o-header__nav-item">
				<a class="o-header__nav-link o-header__nav-link--primary" href="https://www.ft.com/fastft" data-vars-link-destination="https://www.ft.com/fastft" data-vars-link-type="nav-fastft" data-vars-link-text="FastFT">FastFT</a>
			</li>
			<li class="o-header__nav-item">
				<a class="o-header__nav-link o-header__nav-link--primary" href="http://markets.ft.com/data" data-vars-link-destination="http://markets.ft.com/data" data-vars-link-type="nav-marketsdata" data-vars-link-text="Markets Data">Markets Data</a>
			</li>
		</ul>
	</nav>

</header>
