<div class="not-loading-notice">
	<div class="o-message o-message--alert  o-message--neutral" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content ">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">
						Content not loading?
					</span>
					Subscribers can also read this article on <a href="https://www.ft.com">ft.com</a>
				</p>
				<div class="o-message__actions">
					<a href="https://www.ft.com/content/{{id}}" class="o-message__actions__primary">Read now</a>
					<a href="https://www.ft.com" class="o-message__actions__secondary">Visit the homepage</a>
				</div>
			</div>
		</div>
	</div>
</div>
