<div class="not-loading-notice">
	<div class="o-message o-message--alert  o-message--neutral" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content ">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">
						Content not loading?
					</span>
					Subscribers can also read <a href="{{webUrl}}?referrer=amp-unreadable" rel="nofollow">{{title}}</a> on <a href="https://www.ft.com?referrer=amp-unreadable" rel="nofollow">ft.com</a>
				</p>
				<div class="o-message__actions">
					<a href="{{webUrl}}?referrer=amp-unreadable" rel="nofollow" class="o-message__actions__secondary">Read now</a>
				</div>
			</div>
		</div>
	</div>
</div>
