		<amp-sidebar class="o-header__drawer" id='sidebar' layout="nodisplay" side="left">
			<div class="o-header__drawer-inner">

				<div class="o-header__drawer-tools">
					<a class="o-header__drawer-tools-logo" href="/">
						<span class="o-header__visually-hidden">Financial Times</span>
					</a>
					<button on='tap:sidebar.close' type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer" aria-expanded="true">
						<span class="o-header__visually-hidden">Close</span>
					</button>
				</div>

				<nav class="o-header__drawer-menu o-header__drawer-menu--primary" role="navigation" aria-label="Primary navigation">
					<ul class="o-header__drawer-menu-list">
								<li class="o-header__drawer-menu-item o-header__drawer-menu-item--heading">Top sections</li>
								<li class="o-header__drawer-menu-item">
										{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--" href="https://www.ft.com" text="FT.com" type="sidebar-top-section" }}
								</li>
								<li class="o-header__drawer-menu-item">
									{{> link class="o-header__accordion-option o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="https://www.ft.com/world" text="World" type="sidebar-top-section" }}
									<amp-accordion>
										<section class="o-header__accordion-section">
											<header class="o-header__accordion-header">
												<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--unselected">
													Show more World links
												</button>
											</header>
											<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-1">
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/global-economy" text="World Economy" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/world/uk" text="UK" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/world/us" text="US" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/world/asia-pacific/china" text="China" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/world/africa" text="Africa" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/world/asia-pacific" text="Asia Pacific" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/markets/emerging-markets" text="Emerging Markets" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/world/europe" text="Europe" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/world/americas" text="Latin America" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/world/mideast" text="Middle East and North Africa" type="sidebar-top-section" }}
												</li>
											</ul>
										</section>
									</amp-accordion>
								</li>
								<li class="o-header__drawer-menu-item ">
									{{> link class="o-header__accordion-option o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="https://www.ft.com/world/uk" text="UK" type="sidebar-top-section" }}
									<amp-accordion>
										<section class="o-header__accordion-section">
											<header class="o-header__accordion-header">
												<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--unselected">
													Show more UK links
												</button>
											</header>
											<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-1">
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/global-economy/uk" text="UK Economy" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/world/uk/politics" text="UK Politics &amp; Policy" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/companies/uk" text="UK Companies" type="sidebar-top-section" }}
												</li>
											</ul>
										</section>
									</amp-accordion>
								</li>
								<li class="o-header__drawer-menu-item ">
									{{> link class="o-header__accordion-option o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="https://www.ft.com/companies" text="Companies" type="sidebar-top-section" }}
									<amp-accordion>
										<section class="o-header__accordion-section">
											<header class="o-header__accordion-header">
												<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--unselected">
													Show more Companies links
												</button>
											</header>
											<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-1">
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/companies/energy" text="Energy" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/companies/financials" text="Financials" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/companies/health" text="Health" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/companies/industrials" text="Industrials" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/companies/media" text="Media" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/companies/retail-consumer" text="Retail &amp; Consumer" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/companies/technology" text="Technology" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/companies/telecoms" text="Telecoms" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/companies/transport" text="Transport" type="sidebar-top-section" }}
												</li>
											</ul>
										</section>
									</amp-accordion>
								</li>
								<li class="o-header__drawer-menu-item ">
									{{> link class="o-header__accordion-option o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="https://www.ft.com/markets" text="Markets" type="sidebar-top-section" }}
									<amp-accordion>
										<section class="o-header__accordion-section">
											<header class="o-header__accordion-header">
												<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--unselected">
													Show more Companies links
												</button>
											</header>
											<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-1">
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/fastft" text="fastFT" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://ftalphaville.ft.com/" text="Alphaville" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://markets.ft.com/data" text="Markets Data" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/markets/capital-markets" text="Capital Markets" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/markets/commodities" text="Commodities" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/markets/currencies" text="Currencies" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/markets/equities" text="Equities" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/fund-management" text="Fund Management" type="sidebar-top-section" }}
												</li>
												<li class="o-header__drawer-menu-item">
													{{> link class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--unselected" href="https://www.ft.com/markets/trading" text="Trading" type="sidebar-top-section" }}
												</li>
											</ul>
										</section>
									</amp-accordion>
								</li>
								<li class="o-header__drawer-menu-item ">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#" aria-label="Go to Science &amp; Environment">Science &amp; Environment</a>
								</li>
								<li class="o-header__drawer-menu-item o-header__drawer-menu-item--heading">FT recommends</li>
								<li class="o-header__drawer-menu-item ">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#" aria-label="Go to Lex">Lex</a>
								</li>
								<li class="o-header__drawer-menu-item ">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#" aria-label="Go to Alphaville">Alphaville</a>
								</li>
								<li class="o-header__drawer-menu-item ">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#" aria-label="Go to Lunch with the FT">Lunch with the FT</a>
								</li>
								<li class="o-header__drawer-menu-item ">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#" aria-label="Go to Video">Video</a>
								</li>
								<li class="o-header__drawer-menu-item ">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#" aria-label="Go to Special Reports">Special Reports</a>
								</li>
								<li class="o-header__drawer-menu-item ">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#" aria-label="Go to News feed">News feed</a>
								</li>
								<li class="o-header__drawer-menu-item ">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link-- o-header__drawer-menu-link--unselected" href="#" aria-label="Go to Newsletters">Newsletters</a>
								</li>
								<li class="o-header__drawer-menu-item ">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--secondary o-header__drawer-menu-link--unselected" href="#" aria-label="Go to Today's Paper">Today's Paper</a>
								</li>
					</ul>
				</nav>

				<nav class="o-header__drawer-menu o-header__drawer-menu--user" role="navigation" aria-label="User navigation">
					<ul class="o-header__drawer-menu-list">
						<li class="o-header__drawer-menu-item" amp-access="NOT session" amp-access-hide>
							<a class="o-header__drawer-menu-link" href="{{pspURL}}">Subscribe</a>
						</li>
						<li class="o-header__drawer-menu-item" amp-access="NOT session" amp-access-hide>
							<a class="o-header__drawer-menu-link" href="#" on="tap:amp-access.login-login">Sign In</a>
						</li>
						<li class="o-header__drawer-menu-item">
							<a class="o-header__drawer-menu-link" amp-access="session" amp-access-hide href="https://myaccount.ft.com/details/core/view">My Account</a>
						</li>
						<li class="o-header__drawer-menu-item">
							<a class="o-header__drawer-menu-link" amp-access="session" amp-access-hide href="#" on="tap:amp-access.login-logout">Sign Out</a>
						</li>
						<li class="o-header__drawer-menu-item" amp-access="session AND (NOT access)" amp-access-hide>
							<a class="o-header__drawer-menu-link" amp-access="session" href="{{pspURL}}">Upgrade</a>
						</li>
					</ul>
				</nav>

			</div>
		</amp-sidebar>
