<div class="article-social-buttons">
	<amp-social-share width="24" height="24" type="twitter" data-param-url="{{shareUrl}}"></amp-social-share>
	<amp-social-share width="24" height="24" type="facebook"
		data-param-href="{{shareUrl}}"
		data-param-app_id="{{facebookAppId}}"></amp-social-share>
	<amp-social-share width="24" height="24" type="linkedin" data-param-url="{{shareUrl}}"></amp-social-share>
	<amp-social-share width="24" height="24" type="whatsapp"
		data-share-endpoint="whatsapp://send"
		data-param-text="Check out this article: {{title}} - {{shareUrl}}"></amp-social-share>
</div>
