<!doctype html>
<html ⚡>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<link rel="canonical" href="{{canonicalURL}}" >
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		{{#if visibilityOptIn}}
		<meta name="amp-experiments-opt-in" content="visibility-v2">
		{{/if}}
		<style amp-custom>
		{{{css}}}
		</style>
		<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Abrand-ft-logo-square-coloured?source=update-logos&width=32&height=32&format=png" sizes="32x32">

		<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

		<script async src="https://cdn.ampproject.org/v0.js"></script>
		<script async custom-element="amp-subscriptions" src="https://cdn.ampproject.org/v0/amp-subscriptions-0.1.js"></script>
		<script async custom-element="amp-subscriptions-google" src="https://cdn.ampproject.org/v0/amp-subscriptions-google-0.1.js"></script>
		<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
		<script async custom-element="amp-brightcove" src="https://cdn.ampproject.org/v0/amp-brightcove-0.1.js"></script>
		<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
		<script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
		<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
		<script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
		<script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
		<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
		<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
		{{#if enableSocialShare}}
		<script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
		{{/if}}
		{{#if enableSidebarMenu}}
		<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
		<script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
		{{/if}}
		{{#if enableLiveBlogs}}
		<script async custom-element="amp-live-list" src="https://cdn.ampproject.org/v0/amp-live-list-0.1.js"></script>
		{{/if}}
		<script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
		<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
		{{#if unfurlBrightcove}}
		<script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
		{{/if}}

		<script id="amp-subscriptions" type="application/json">
		{
			"services": [
				{
					"authorizationUrl": "{{{AUTH_AUTHORIZATION_URL}}}rid=READER_ID&ref=DOCUMENT_REFERRER&url={{{accessCheckUrl}}}",
					"pingbackUrl": "{{{AUTH_PINGBACK_URL}}}rid=READER_ID&ref=DOCUMENT_REFERRER&url={{{accessCheckUrl}}}&access=AUTHDATA(granted)",
					"actions": {
						"login": "{{{AUTH_LOGIN_URL}}}readerId=READER_ID&location=RETURN_URL%23success=true",
						"logout": "{{{AUTH_LOGOUT_URL}}}rid=READER_ID&location=RETURN_URL%23success=true",
						"subscribe": "{{{pspURL}}}"
					},
					"fallbackEntitlement": {
						"source": "fallback",
						"granted": true,
						"grantReason": "METERING"
					}
				},
				{ "serviceId": "subscribe.google.com" }
			],
			"preferViewerSupport": true,
			"score": {
				"supportsViewer": 0
			}
		}
		</script>

		<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "NewsArticle",
			"mainEntityofPage": "{{canonicalURL}}",
			"headline": "{{schemaHeadline}}",
			"datePublished": "{{publishedDate}}",
			"dateModified": "{{publishedDate}}",
			"description": "{{description}}",
			"image": {
				"@type": "ImageObject",
				"url": "{{mainImage.url}}",
				"width": {{mainImage.width}},
				"height": {{mainImage.height}}
			},
			"author": {
				"@type": "Person",
				"name": "{{authorList}}"
			},
			"publisher": {
				"@type": "Organization",
				"name": "The Financial Times",
				"logo": {
					"@type": "ImageObject",
					"url": "http://im.ft-static.com/m/img/masthead_main.jpg",
					"width": 435,
					"height": 36
				}
			},
			{{#unless isFree}}
			"hasPart": {
				"@type": "WebPageElement",
				"isAccessibleForFree": false,
				"cssSelector" : ".{{#if enableBarrier}}amp-access-barrier{{else}}amp-access-login{{/if}}"
			},
			{{/unless}}
			"isPartOf": {
				"@type": ["CreativeWork", "Product"],
				"name" : "Financial Times",
				"productID": "ft.com:{{accessLevel}}"
			},
			"isAccessibleForFree": {{#if isFree}}true{{else}}false{{/if}}
		}
		</script>
	</head>
	<body>
		{{> abTest}}

		{{#if analyticsConfig}}
		<amp-analytics>
			<script type="application/json">
			{{{analyticsConfig}}}
			</script>
		</amp-analytics>
		{{/if}}

		<amp-analytics type="krux" config="https://cdn.krxd.net/controltag/amp/KHUSeE3x.json"></amp-analytics>

		<amp-image-lightbox id="lightbox" layout="nodisplay"></amp-image-lightbox>

		{{#if enableSidebarMenu}}
			{{> sidebarMenu}}
		{{/if}}

		{{#if accessMocked}}
			{{> mockAccess}}
		{{/if}}

		<div class="main-wrapper">

			{{> header}}

			<main class="main" role="main">
				<div class="{{#if enableBarrier}}amp-access-barrier{{else}}amp-access-login{{/if}}" subscriptions-section="content-not-granted">
					{{#if enableBarrier}}
						{{> barrier }}
					{{else}}
					<div class="amp-access-login__header" subscriptions-actions subscriptions-display="NOT data.session">
						<div class="amp-access-login__header-instruction">Subscribe to read:</div>
						<div class="amp-access-login__header-title">{{title}}</div>
					</div>
					<div class="amp-access-login__header" subscriptions-actions subscriptions-display="data.session">
						<div class="amp-access-login__header-instruction">Upgrade your account to read:</div>
						<div class="amp-access-login__header-title">{{title}}</div>
					</div>
					<div class="amp-access-login__body" subscriptions-actions subscriptions-display="NOT data.session">
						<a class="amp-access-login__button" href="#" subscriptions-action="login" subscriptions-display="NOT data.session" subscriptions-service="{{#if enableGoogleAccountLinking}}subscribe.google.com{{else}}local{{/if}}" data-vars-link-type="barrier-login" data-vars-link-text="Sign in to FT.com">Sign in to FT.com</a>
						<a class="amp-access-login__button" href="{{pspURL}}" data-vars-link-destination="{{pspURL}}" data-vars-link-type="barrier-psp" data-vars-link-text="View subscription packages" subscriptions-section="content-not-granted">View subscription packages</a>
					</div>
					<div class="amp-access-login__body" subscriptions-actions subscriptions-display="data.session">
						<a class="amp-access-login__button" href="{{pspURL}}" data-vars-link-destination="{{pspURL}}" data-vars-link-type="barrier-upgrade" data-vars-link-text="Upgrade now">Upgrade now</a>
					</div>
					{{/if}}
				</div>

				<div {{#unless showEverything}}subscriptions-section="content"{{/unless}}>
					{{{body}}}
				</div>
			</main>

			{{> footer}}

		</div>
	</body>
</html>
