<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex">
	<script>
		(function() {
			var v = location.search.substr(1);
			if (!(/^\d+(-canary)?$/.test(v))) return;
			var u = 'https://3p.ampproject.net/' + encodeURIComponent(v) + '/f.js';
			document.write('<script' + ' src="' + encodeURI(u) + '"><' + '/script>');
		})();
	</script>
	<script src="https://cdn.krxd.net/amp/v1/remote.min.js"></script>
	<script src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch"></script>
</head>

<body style="margin:0">
	<div id="c" style="position:absolute;top:0;left:0;bottom:0;right:0;">
		<script>
			draw3p(function(config, done) {
				if(config.type !== 'doubleclick') {
					return done(config);
				}

				var contextualTargetingRequest = fetch('https://{{adsApiHost}}/v1/content/{{uuid}}');
				var userTargetingRequest = fetch('https://{{adsApiHost}}/v1/user', {
					credentials: 'include'
				});

				Promise.all([
					contextualTargetingRequest.then(function(r) { return r.json() }),
					userTargetingRequest.then(function(r) { return r.json() })
				])
				.then(function(output) {
					var contextualTargetingResponse = output[0];
					var userTargetingResponse = output[1];
					var targeting = [].concat(contextualTargetingResponse.dfp.targeting, userTargetingResponse.dfp.targeting);

					config.slot = '/5887/ft.com/distributed.content/amp.ft';
					config.targeting = {
						pos: 'mid',
					};

					targeting.forEach(function(target) {
						config.targeting[target.key] = target.value.toString();
					});

					var kruxFn = Krux.amp.withConfid('KHUSeE3x')
					.withUserParam("kuid")
					.withSegmentsParam("ksg")
					.interchange().draw3p();

					kruxFn(config, done);
				});
			}, ['doubleclick']);
		</script>
	</div>
	<script>
		if (window.docEndCallback) window.docEndCallback()
	</script>
</body>

</html>
