<!doctype html>
<html ⚡>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<link rel="canonical" href="{{webUrl}}" >
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		<style amp-custom>
		 {{{css}}}
		</style>
		<style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
		<script async src="https://cdn.ampproject.org/v0.js"></script>
		<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
	</head>
	<body>
		<amp-analytics config="/analytics/config.json">
			<script type="application/json">
			{
				"vars": {
					"uuid": "{{{id}}}"
				}
			}
			</script>
		</amp-analytics>
		<header class="main-header">
			<div class="main-header-logo">
				{{{ftSvg}}}
			</div>
		</header>
		<main role="main">
			<article class="article">
				<header class="article-header">
					<h1 itemprop="headline">{{title}}</h1>
					{{{displaySummary}}}
					{{{mainImageHtml}}}

					<div class="article-dateline">
						{{{displayDate}}}
						<span class="article-author">
							<span class="article-author-byline">
								by 
								<span itemscope itemtype="http://schema.org/Person" itemprop="author">
									{{byline}}
								</span>
							</span>
						</span>
					</div>
				</header>
				
				<div class="article-body" itemprop="articleBody">
					{{{htmlBody}}}
				</div>
			</article>
		</main>
		<footer class="main-footer">
			<div class="main-footer__container">
				<ul class="main-footer__links">
					<li class="main-footer__link"><a href="http://help.ft.com/tools-services/ft-com-terms-and-conditions/">Terms &amp; conditions</a></li>
					<li class="main-footer__link"><a href="http://help.ft.com/tools-services/financial-times-privacy-policy/">Privacy policy</a></li>
					<li class="main-footer__link"><a href="http://help.ft.com/tools-services/copyright-policy/?ft_site=falcon#axzz3goHcFH3m">Copyright</a></li>
					<li class="main-footer__link"><a href="http://help.ft.com/tools-services/how-the-ft-manages-cookies-on-its-websites/">Cookie policy</a></li>
				</ul>
				<div class="main-footer__brand">
					{{{nikkeiSvg}}}
				</div>
			</div>
		</footer>
	</body>
</html>
