<!doctype html>
<html ⚡>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<link rel="canonical" href="{{webUrl}}" >
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		<style amp-custom>
		{{{css}}}
		</style>

		<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

		<script async src="https://cdn.ampproject.org/v0.js"></script>
		<script async custom-element="amp-access" src="https://cdn.ampproject.org/v0/amp-access-0.1.js"></script>
		<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
		<script async custom-element="amp-brightcove" src="https://cdn.ampproject.org/v0/amp-brightcove-0.1.js"></script>
		<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
		<script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
		<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
		<script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
		<script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
		<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
		{{#if enableSidebarMenu}}
		<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
		<script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
		{{/if}}

		<script id="amp-access" type="application/json">
		{
			"authorization": "{{{AUTH_AUTHORIZATION_URL}}}rid=READER_ID&ref=DOCUMENT_REFERRER&url={{{webUrl}}}",
			"pingback": "{{{AUTH_PINGBACK_URL}}}rid=READER_ID&ref=DOCUMENT_REFERRER&url={{{webUrl}}}&access=AUTHDATA(access)",
			"login": {
				"login": "{{{AUTH_LOGIN_URL}}}readerId=READER_ID&location=RETURN_URL%23success=true",
				"logout": "{{{AUTH_LOGOUT_URL}}}rid=READER_ID&location=RETURN_URL%23success=true"
			},
			"authorizationFallbackResponse": {"access": true, "error": true}
		}
		</script>

		<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "NewsArticle",
			"mainEntityofPage": "{{webUrl}}",
			"headline": "{{schemaHeadline}}",
			"datePublished": "{{publishedDate}}",
			"dateModified": "{{publishedDate}}",
			"description": "{{description}}",
			"image": {
				"@type": "ImageObject",
				"url": "{{mainImage.url}}",
				"width": {{mainImage.width}},
				"height": {{mainImage.height}}
			},
			"author": {
				"@type": "Person",
				"name": "{{authorList}}"
			},
			"publisher": {
				"@type": "Organization",
				"name": "The Financial Times",
				"logo": {
					"@type": "ImageObject",
					"url": "http://im.ft-static.com/m/img/masthead_main.jpg",
					"width": 435,
					"height": 36
				}
			}
		}
		</script>
	</head>
	<body>
		<amp-analytics config="//SOURCE_HOSTNAME{{SOURCE_PORT}}/analytics/config.json">
			<script type="application/json">
			{
				"vars": {
					"uuid": "{{{id}}}"
				}
			}
			</script>
		</amp-analytics>

		<amp-image-lightbox id="lightbox" layout="nodisplay"></amp-image-lightbox>

		{{#if enableSidebarMenu}}
			{{> sidebarMenu}}
		{{/if}}

		{{#if accessMocked}}
		<div class="access-mocked">
			<ul>
				<li>You are currently mocking membership access. <a href="/amp-access-mock?type=clear">Click here</a> to return to live membership access.</li>
				<li>{{#if accessMockFcf}}You are mocking 'First Click Free', so all articles will be free to read, even when anonymous. <a href="/amp-access-mock?type=clear-fcf">Click here</a> to disable FCF.{{else}}<a href="/amp-access-mock?type=enable-fcf">Click here</a> to mock 'First Click Free'.{{/if}}</li>
				<li>{{#if accessMockPreventAccess}}Access is blocked, even when signed-in (simulating premium content, and requiring an upgrade). <a href="/amp-access-mock?type=allow-access">Click here</a> to allow access.{{else}}<a href="/amp-access-mock?type=prevent-access">Click here</a> to block all access, to simulate premium content and require an upgrade.{{/if}}</li>
				<li amp-access="access" amp-access-hide>You have access. </li>
				<li amp-access="NOT access" amp-access-hide>You have no access. </li>
				<li amp-access="session" amp-access-hide>You are logged in. <a href="#" on="tap:amp-access.login-logout">Click here</a> to log out.</li>
				<li amp-access="NOT session" amp-access-hide>You are an anonymous visitor. <a  href="#" on="tap:amp-access.login-login">Click here</a> to log in.</li>
			</ul>
		</div>
		{{/if}}

		<div class="main-wrapper">

			{{> header}}

			<main class="main" role="main">
				<article class="article">
					<header class="article-header">
						{{#if primaryTheme}}
							<h2 class="primary-theme"><a href="{{{primaryTheme.url}}}" class="primary-theme__link">{{{primaryTheme.name}}}</a></h2>
						{{/if}}
						<h1 class="headline" itemprop="headline">{{title}}</h1>

						{{#if displaySummary}}
						<h2 class="article-standfirst">{{displaySummary}}</h2>
						{{/if}}

						<div amp-access="access OR {{freeArticle}}" amp-access-hide>
							{{{mainImageHtml}}}
						</div>

						<div class="article-dateline">
							{{{displayDate}}}
							{{#if byline}}
							<span class="article-author">
								<span class="article-author-byline">
									by
									<span itemscope itemtype="http://schema.org/Person" itemprop="author">
										{{{byline}}}
									</span>
								</span>
							</span>
							{{/if}}
						</div>
					</header>

					<div amp-access="access OR {{freeArticle}}" amp-access-hide>
						<div class="article-body" itemprop="articleBody">
							{{{htmlBody}}}
						</div>
					</div>
				</article>

				<div class="comments" amp-access="access OR {{freeArticle}}" amp-access-hide>
					<a class="comments-button" href="{{nextUrl}}">Comments on FT.com</a>
				</div>

				<div class="amp-access-login" amp-access="NOT access" amp-access-hide>
					<div class="amp-access-login__header" amp-access="NOT session">
						<div class="amp-access-login__header-instruction">Sign in or subscribe to FT.com to read:</div>
						<div class="amp-access-login__header-title">{{title}}</div>
					</div>
					<div class="amp-access-login__header" amp-access="session">
						<div class="amp-access-login__header-instruction">Upgrade your account to read:</div>
						<div class="amp-access-login__header-title">{{title}}</div>
					</div>
					<div class="amp-access-login__body" amp-access="NOT session">
						<a class="amp-access-login__button" href="#" on="tap:amp-access.login-login">Sign in to FT.com</a>
						<a class="amp-access-login__button" href="https://subscribe.ft.com/psp">View subscription packages</a>
					</div>
					<div class="amp-access-login__body" amp-access="session">
						<a class="amp-access-login__button" href="https://subscribe.ft.com/psp">Upgrade now</a>
					</div>
				</div>

				{{#if relatedContent}}
				<aside class="related-content" amp-access="access OR NOT access" amp-access-hide>
					<h2 class="related-content__header">Related stories</h2>
					<ul class="related-content__stories">
						{{#each relatedContent}}
						{{#if @first}}{{#if image}}
						<li class="related-content__story related-content__lead-story">
							<div class="related-content__container">
								<div class="related-content__content">
									{{#if theme}}<h3 class="related-content__theme">{{#if theme.url}}<a class="related-content__theme-link" href="{{{theme.url}}}">{{/if}}{{theme.name}}{{#if theme.url}}</a>{{/if}}</h3>{{/if}}
									<a class="related-content__link" href="http://www.ft.com/content/{{{id}}}">{{{title}}}</a>
									<p class="related-content__summary">{{{summary}}}</p>
									{{{date}}}
								</div>
								<div class="related-content__image">
									<a href="http://www.ft.com/content/{{{id}}}">{{> image}}</a>
								</div>
							</div>
						</li>
						{{/if}}{{/if}}
						<li class="related-content__story{{#if @first}}{{#if image}} related-content__lead-story-alternate{{/if}}{{/if}}">
							<div class="related-content__container">
								{{#if theme}}<h3 class="related-content__theme">{{#if theme.url}}<a class="related-content__theme-link" href="{{{theme.url}}}">{{/if}}{{theme.name}}{{#if theme.url}}</a>{{/if}}</h3>{{/if}}
								<a class="related-content__link" href="http://www.ft.com/content/{{{id}}}">{{{title}}}</a>
								<p class="related-content__summary">{{{summary}}}</p>
								{{{date}}}
							</div>
						</li>
						{{/each}}
					</ul>
				</aside>
				{{/if}}

				{{#if moreOns}}
				<aside class="more-ons" amp-access="access OR NOT access" amp-access-hide>
					<ul class="more-ons__items">
						{{#each moreOns}}
						<li class="more-ons__item">
							<div class="more-ons__item-wrapper">
								<div class="more-ons__type">
									<h2 class="more-ons__type-text c-box__title-text">{{theme.type}}</h2>
								</div>
								<h2 class="more-ons__header">{{#if theme.url}}<a class="related-content__theme-link" href="{{{theme.url}}}">{{/if}}{{theme.name}}{{#if theme.url}}</a>{{/if}}</h2>
								<ul class="more-ons__stories">
									{{#each articles}}
									<li class="more-ons__story">
										{{#if @first}}{{#if image}}
										<div class="more-ons__image">
											<a href="http://www.ft.com/content/{{{id}}}">{{> image}}</a>
										</div>
										{{/if}}{{/if}}
										{{#if theme}}<h3 class="more-ons__theme">{{{theme}}}</h3>{{/if}}
										<a class="more-ons__link" href="http://www.ft.com/content/{{{id}}}">{{{title}}}</a>
										{{{date}}}
									</li>
									{{/each}}
								</ul>
							</div>
						</li>

						{{/each}}
					</ul>
				</aside>
				{{/if}}
			</main>

			{{> footer}}

		</div>

	</body>
</html>
