<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="canonical" href="amps.html" >
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <style amp-custom>
   {{{css}}}
  </style>
  <style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
</head>
<body>
  <amp-analytics config="//localhost:5000/analytics/config.json">
  <script type="application/json">
  {
    "vars": {
      "uuid": "{{{id}}}"
    }
  }
  </script>
  </amp-analytics>

  <header class="main-header">
    <div class="brand-logo">
        {{{logoSvg}}}
    </div>
  </header>
  <main role="main">
    <article>
      <div class="content-container">
        <header>
          <h1 itemprop="headline">{{title}}</h1>
          {{{displaySummary}}}
          {{{mainImageHtml}}}
          {{{displayDate}}}
        </header>

        <div class="author">
          <div class="byline">
              by
              <span itemscope itemtype="http://schema.org/Person" itemprop="author">
                {{byline}}
              </span>
          </div>
        </div>
        <div class="article-body" itemprop="articleBody">
            {{{htmlBody}}}
        </div>
      </div>
    </article>
  </main>
</body>
</html>
