{{#if moreOns}}
	<aside class="more-ons">
		<ul class="more-ons__items">
			{{#each moreOns}}
			<li class="more-ons__item">
				<div class="more-ons__item-wrapper">
					<div class="more-ons__type">
						<h2 class="more-ons__type-text c-box__title-text">Latest {{preposition}}</h2>
					</div>

					{{> related/theme class='more-ons__header' linkType='more-ons-theme'}}

					<ul class="more-ons__stories">
						{{#each articles}}
						<li class="more-ons__story">
							{{#if @first}}{{#if image}}
							<div class="more-ons__image">
								{{! As they are duplicate links, hide the links (ariaHidden) from assistive technologies and prevent them from being tabbed to (tabindex). }}
								{{#>link href=url type='more-ons-image' tabindex='-1' ariaHidden='true'}}
									{{> image}}
								{{/link}}
							</div>
							{{/if}}{{/if}}

							{{#if theme}}
								<h3 class="more-ons__theme">{{{theme}}}</h3>
							{{/if}}

							{{> link class='more-ons__link' href=url text=title type='more-ons-link'}}

							{{{date}}}
						</li>
						{{/each}}
					</ul>
				</div>
			</li>
			{{/each}}
		</ul>
	</aside>
{{/if}}
